* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #000000;
  color: #fff;
}

:root {
  /* --primary-color: #ff004f; */
  --tag-color: #6050dc;
  --primary-color: #8e2de2;

  /* background: linear-gradient(135deg, #8e2de2, #4a00e0); */

  /* --secondary-color: #8c7dff; */
  --secondary-color: #8e2de2;
  /* best for text  */
}

/* ---------------header----------------------------  */
#header {
  width: 100%;
  height: 100vh;
  background-image: url("images/pc_new.png");
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  padding-top: 0px;
  /* filter: drop-shadow(1px, 1px, 20px, #ff004f); */
}

.responsive_br {
  display: none;
}

.container {
  padding: 0 10% 1rem;
  /* background-color: red; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: blue; */
}

.logo_p p {
  font-size: 3.5rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.logo_p p:hover {
  cursor: pointer;
}

.logo_p span {
  color: var(--primary-color);
}

nav ul li {
  display: inline-block;
  list-style: none;
  /* li default styling remove */
  margin: 0.75rem 1.25rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 4px;
  background: var(--primary-color);
  /* background: #003bfc; */

  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header_text {
  margin-top: 10%;
  font-size: 3.25rem;
  /* background-color: #25d366; */
  /* background-color: green; */
}

.header_text h1 {
  margin: 1rem 0;
  font-size: 4rem;
}
.header_text ol {
  list-style: none;
  --height: 4rem;
  font-weight: 500;

  height: var(--height);
  line-height: var(--height);

  overflow: hidden;

  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.header_text ol li {
  display: inline-block;
  height: var(--height);
  line-height: var(--height);
  animation: slide calc(6 * 4 * 2s) steps(6) infinite;
}

@keyframes slide {
  100% {
    transform: translateY(calc(-6 * var(--height)));
  }
}

.header_text ol li span {
  white-space: nowrap;

  /* cursor  */
  border-right: 0.5rem solid #fff;

  /* blink effect on cursor  */
  animation: cursor 0.8s step-end infinite,
    typing 4s steps(18) infinite alternate;

  /* typing name of the keyframes it should use.

  3s  total duration of the animation = 3 seconds.

  steps(18)  instead of animating smoothly, it will jump in 18  discrete steps (looks like typing letter by letter).

  infinite  repeats forever.

  alternate  runs forward (typing) and then backward (deleting). */

  /* alternate means 0 to 100 and also 100 to 0 */

  /* display: inline-block; */
  /*for width 0 to 100  */
  /* overflow: hidden;
  width: 0%; */

  display: inline-flex;
  /* keep cursor aligned */
  align-items: center;
  /* prevent vertical jump */
  box-sizing: border-box; /* cursor won’t expand height */
  overflow: hidden;
  width: 0%;
}

@keyframes cursor {
  50% {
    border-color: transparent;
    /* 50% time of 0.8 sec it will invisible  */
  }
}

@keyframes typing {
  0%,
  20% {
    width: 0%;
  }

  /* 0 to 20% percent time it will remains hidden */
  /* 20 to 60% percent time will be used for typing . it expands from 0% → 102%*/
  /* 60 to 100% percent time it remains visible */

  60%,
  100% {
    width: 102%;
  }
}

.header_text h1.location {
  font-size: 3rem;
}

.header_text h1 span {
  color: var(--primary-color);
}

/*  About section   */

#about {
  padding: 5rem 0;
  color: #ababab;
  /* background: green; */
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
  /* background-color: yellow; */
}

.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
  /* background-color: green; */
  /* 5% gap  */
}

.about-col-2 .me {
  font-size: 1.25rem;
  /* color: #25d366; */
}

.sub_title {
  font-size: 4rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.sub_title.ab {
  text-align: left;
}

.tab_titles {
  display: flex;
  margin: 1.25rem 0 2.5rem;
}

.tab_links {
  margin-right: 3.25rem;
  font-size: 1.5rem;
  font-weight: 500;
  /* color: red; */
  cursor: pointer;
  position: relative;
}

.tab_links::after {
  content: "";
  width: 0;
  height: 3px;
  background: var(--primary-color);
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab_links.active_link::after {
  width: 100%;
}
.tab_contents ul li {
  list-style: none;
  /* bullets gone */
  margin: 0.75rem 0;
}

.tab_contents ul li span {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.tab_contents ul li {
  /* color: var(--primary-color); */
  font-size: 1.25rem;
}

.tab_contents {
  display: none;
}

.tab_contents.active_tab {
  /* no space dot */
  display: block;
}

/* ---------------service section------------  */

#services {
  padding: 2rem 0;
}

.services_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  /* Makes a responsive grid where
    Each column is at least 15rem wide.
    Columns can grow to fill space (1fr).
    The grid auto-fits as many columns as possible in the container. */
  grid-gap: 2.5rem;
  margin-top: 3rem;
}

.services_list div {
  background-color: #262626;
  padding: 2rem;
  font-size: 1.25rem;
  max-width: 25rem;
  border: 1px solid var(--primary-color);
  /* max width of the card  */
  /* font-weight: 300; */
  border-radius: 0.75rem;
  transition: background-color 0.5s;
}

.services_list div h3 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.services_list div:hover {
  /* background-color: var(--primary-color); */
  /* background: linear-gradient(135deg, #6050dc, #3a0ca3); */
  background: linear-gradient(135deg, #8e2de2, #4a00e0);
  /* box-shadow: 0 8px 20px rgba(142, 45, 226, 0.6), 0 0 15px rgba(74, 0, 224, 0.7); */
  cursor: pointer;
}

.services_list div ul {
  list-style: disc;
  padding-left: 20px;
  margin-top: 10px;
}

.services_list div ul li {
  margin-bottom: 8px;
  font-size: 1rem;
  color: #ffffff;
}

/* ------------ Portfolio section  --------- */

#portfolio {
  pad: 3rem 0;
}

.work_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 2.5rem;
  margin: 3rem 0;
}

.project-card {
  background: #1c1c1c;
  padding: 0.9rem;
  max-width: 30rem;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
  text-align: left;
  border: 1px solid var(--primary-color);
}

.project-card:hover {
  background: #262626;
}

.project-card h3 {
  font-size: 1.25rem;
  margin: 0.75rem 0;
  color: #9c6bff;
  padding: 4px;
  text-align: center;
}

.project-card p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 10px;
  line-height: 1.6;
}

.project-card a {
  color: #7a02fa;
  text-decoration: none;
  font-weight: 500;
  transition: 0.2s ease;
}

.card-tech {
  font-size: 0.95rem;
  display: flex; /* arrange spans in a row */
  flex-wrap: wrap; /* allow wrapping to next line */
  gap: 10px; /* uniform spacing left, right, up, down */
  align-items: center; /* vertically center text and spans */
}

.tech {
  font-size: 0.75rem;
  font-weight: 500;
  color: #ffffff;
  background: var(--tag-color);
  padding: 4px 6px;
  border-radius: 8px;
  display: inline-block;
}

.image_div {
  border-radius: 0.75rem;
  position: relative;
  overflow: hidden;
  /* background-color: yellow; */
}

.image_div img {
  width: 100%;
  /* auto dile ration thik tahkbe crop hbe na , but i want crop and full width nibe */
  height: 250px;
  object-fit: cover;
  object-position: center;
  /* while cropping centered will be safe */
  border-radius: 0.75rem;
  display: block;
  margin: 0 auto 0;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  /* initially hidden */
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  /* background-color: #fff; */
  /* from bottom to top transition */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 1.35rem;
  transition: height 0.5s;
  text-align: center;
}

.layer a {
  color: var(--primary-color);
  /* border: 1px solid white;
   */
  text-decoration: none;
  font-size: 1.5rem;
  background: rgba(255, 255, 255, 0.9);
  line-height: 2.5rem;
  /* height width centereds */
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  /* circle  */
  text-align: center;
  /* icon circle er center e thakbe  */
}

.layer p {
  color: #fff;
  background: rgba(0, 0, 0, 0.7); /* dark overlay */
  padding: 5px 10px;
  border-radius: 5px;
}

.image_div:hover img {
  transform: scale(1.5);
}

.image_div:hover .layer {
  height: 100%;
}

.btn {
  /* background-color: white; */
  display: block;
  /* same line nothing will come  */
  margin: 3rem auto;
  /* centered using margin  */
  width: fit-content;
  border: 1px solid var(--primary-color);
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn:hover {
  background: linear-gradient(135deg, #8e2de2, #4a00e0);
  box-shadow: 0 8px 20px rgba(142, 45, 226, 0.6), 0 0 15px rgba(74, 0, 224, 0.7);
}

/* ------------contact-------------- */

.contact-left {
  /* background-color: green; */
  flex-basis: 35%;
}

.contact-left p {
  margin-top: 1.75rem;
  font-size: 1.5rem;
}

.contact-left p i {
  color: var(--primary-color);
  margin-right: 1rem;
  font-size: 1.5rem;
}

.social_icons {
  margin-top: 2rem;
}

.social_icons a {
  text-decoration: none;
  font-size: 2.75rem;
  margin-right: 1rem;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

/* .social_icons a:hover {
  color: var(--primary-color);
  transform: translateY(-5px);
} */

.social_icons a.f:hover {
  transform: translateY(-5px);
  color: #1877f2;
}
.social_icons a.t:hover {
  transform: translateY(-5px);
  color: #1da1f2;
}
.social_icons a.g:hover {
  transform: translateY(-5px);
  color: #6e5494;
}
.social_icons a.l:hover {
  transform: translateY(-5px);
  color: #1877f2;
}
.social_icons a.w:hover {
  transform: translateY(-5px);
  color: #25d366;
}

.btn.btn_more {
  display: inline-block;
  /* move on the start same line nothing else*/
  background: linear-gradient(135deg, #8e2de2, #4a00e0);
  transition: all 0.2s ease-in-out;
}

.btn.btn_more:hover {
  box-shadow: 0 8px 20px rgba(142, 45, 226, 0.6), 0 0 15px rgba(74, 0, 224, 0.7);
}

.contact-right {
  /* background-color: blue; */
  flex-basis: 60%;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  border: 1px solid transparent;
  outline: none;
  background: #262626;
  padding: 1rem;
  margin: 1rem 0;
  color: #fff;
  font-size: 1.35rem;
  border-radius: 0.5rem;
}

form textarea {
  resize: none;
}

form input:focus,
form textarea:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 0 2px var(--primary-color);
}

form .btn.btn_more {
  padding: 1rem 3rem;
  margin-top: 1rem;
}

/* --------copyright-------  */

.copyright {
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  background-color: #262626;
  font-weight: 300;
  margin-top: 1rem;
}

.copyright i {
  color: var(--primary-color);
}

/* -----------------css for small screen --------------- */

nav .fa-solid {
  display: none;
}

@media only screen and (max-width: 768px) {
  #header {
    background-image: url(images/first.png);
  }

  .header_text {
    margin-top: 70%;
    font-size: 1.5rem;
  }

  .header_text h1.location {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    font-weight: 500;
  }

  .header_text h1 {
    font-size: 1.75rem;
    margin: 0.5rem 0;
  }
  .container {
    padding: 0.5rem 5% 0.5rem;
    /* background-color: red; */
  }
  .responsive_br {
    display: inline;
  }

  #about {
    padding: 2rem 0 0;
    /* background-color: blue; */
  }

  nav .fa-solid {
    display: block;
    font-size: 1.5rem;
  }

  nav ul {
    background: var(--primary-color);
    position: fixed; /* fixed on the screen make a scroll to understand pos realted to initial block body */
    top: 0;
    right: 0;
    width: 12.5rem;
    right: -12.5rem; /* better transition after using the same width */
    height: 100vh;
    padding-top: 3rem;
    z-index: 2; /* safety */
    transition: right 0.3s;
  }
  nav ul li {
    display: block; /* take full width */
    margin: 1.5rem;
  }

  nav ul .fa-solid {
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
  }

  .about-col-1 {
    flex-basis: 100%;
    margin-bottom: 0.5rem;
    /* background-color: aqua; */
  }
  .about-col-1 img {
    width: 50%;
    display: block;
    margin: 0 auto;
  }

  .about-col-2 {
    flex-basis: 100%;
  }

  .about-col-2 .me {
    font-size: 1rem;
  }

  .sub_title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .sub_title.ab {
    text-align: center;
  }

  .tab_titles {
    margin: 1.25rem 0 1.5rem;
  }

  .tab_links {
    margin-right: 1.25rem;
    /* color: red; */
  }

  .logo_p p {
    font-size: 2rem;
  }

  nav ul li a {
    font-size: 1rem;
  }
  .tab_links {
    font-size: 1rem;
  }
  .tab_contents ul li span {
    font-size: 1rem;
  }

  .tab_contents ul li {
    /* color: var(--primary-color); */
    font-size: 0.8rem;
  }
  .services_list {
    margin-top: 1rem;
    grid-gap: 1.25rem;
  }

  #services {
    padding: 1rem 0;
  }

  .services_list div {
    padding: 1rem;
    font-size: 1rem;
  }

  .services_list div h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .services_list div ul li {
    margin-bottom: 6px;
    font-size: 0.8rem;
  }

  .work_list {
    grid-gap: 1rem;
    margin: 0;
    /* background-color: aqua; */
  }

  .layer {
    padding: 0 0.5rem;
    font-size: 1rem;
  }

  .layer a {
    margin-top: 1.25rem;
    font-size: 1rem;
    line-height: 2.5rem;
    /* height width centereds */
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
  }

  .btn {
    margin: 2rem auto;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    font-size: 1rem;
  }

  .contact-left,
  .contact-right {
    flex-basis: 100%;
  }

  .copyright {
    font-size: 0.75rem;
  }

  .contact-left p {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .contact-left .cv {
    display: block;
    margin: 1 auto;
  }

  .contact-left p {
    margin-right: 0.5rem;
    font-size: 1rem;
  }

  .social_icons {
    margin-top: 1rem;
    display: flex;
    justify-content: center; /* centers icons */
  }

  .social_icons a {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
  .social_icons a:hover {
    transform: translateY(-2px);
  }

  form input,
  form textarea {
    padding: 0.75rem;
    margin: 0.5rem 0;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.5rem;
  }

  form .btn.btn_more {
    padding: 0.5rem 2rem;
    display: block;
    margin: 1 auto 0;
  }

  /* ------------------typing in mobile--------------- */

  .header_text ol {
    /* margin: 0.25rem 0; */
    --height: 2.25rem;
    font-weight: 500;

    height: var(--height);
    line-height: var(--height);
  }

  .header_text ol li span {
    border-right: 0.25rem solid #fff;
  }
}
