* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #000000;
  color: #fff;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url("images/pc_new.png");
  background-size: cover;
  background-position: right;
  padding-top: 0px;
}

.container {
  padding: 0 10% 1rem;
  /* background-color: red; */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* background-color: blue; */
}

.logo_p p {
  font-size: 3rem;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.logo_p p:hover {
  cursor: pointer;
}

.logo_p span {
  color: #ff004f;
}
nav ul li {
  display: inline-block;
  list-style: none;
  /* li default styling remove */
  margin: 0.75rem 1.25rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header_text {
  margin-top: 10%;
  font-size: 2.25rem;
  /* background-color: green; */
}

.header_text h1 {
  margin-top: 1.25rem;
  font-size: 3.25rem;
}

.header_text h1 span {
  color: #ff004f;
}

/*  About section   */

#about {
  padding: 5rem 0;
  color: #ababab;
  /* background: green; */
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}
.about-col-1 img {
  width: 100%;
  border-radius: 15px;
}

.about-col-2 {
  flex-basis: 60%;
  /* 5% gap  */
}

.sub_title {
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
}

.tab_titles {
  display: flex;
  margin: 1.25rem 0 2.5rem;
}

.tab_links {
  margin-right: 3.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
}

.tab_links::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: 0.5s;
}

.tab_links.active_link::after {
  width: 100%;
}
.tab_contents ul li {
  list-style: none;
  /* bullets gone */
  margin: 0.75rem 0;
}

.tab_contents ul li span {
  color: #ff004f;
  font-size: 1rem;
}
.tab_contents {
  display: none;
}

.tab_contents.active_tab {
  /* no space dot */
  display: block;
}

/* ---------------service section------------  */

#services {
  padding: 2rem 0;
}

.services_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  /* Makes a responsive grid where
    Each column is at least 15rem wide.
    Columns can grow to fill space (1fr).
    The grid auto-fits as many columns as possible in the container. */
  grid-gap: 2.5rem;
  margin-top: 3rem;
}

.services_list div {
  background-color: #262626;
  padding: 2.5rem;
  font-size: 1rem;
  font-weight: 300;
  border-radius: 0.75rem;
  transition: background-color 0.5s, transform 0.5s;
}

.services_list div i {
  font-size: 2.5rem;
  margin-bottom: 1.75rem;
}

.services_list div h2 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.services_list div a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  margin-top: 1rem;
  display: inline-block;
}

.services_list div a:hover {
  text-decoration: underline white;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px; /* thicker underline */
}
.services_list div:hover {
  background-color: #ff004f;
  transform: translateY(-10px);
  cursor: pointer;
}

/* ------------ Portfolio section  --------- */

#portfolio {
  pad: 3rem 0;
}

.work_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2.5rem;
  margin: 3rem 0;
}

.work {
  border-radius: 0.75rem;
  position: relative;
  overflow: hidden;
}

.work img {
  width: 100%;
  border-radius: 0.75rem;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  /* initially hidden */
  background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  /* from bottom to top transition */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 2.5rem;
  text-align: center;
  font-size: 1rem;
  transition: height 0.5s;
}

.layer h3 {
  font-weight: 600;
  margin-bottom: 1.25rem;
  /* color: green; */
}

.layer a {
  margin-top: 1.25rem;
  color: #ff004f;
  /* border: 1px solid white;
   */
  text-decoration: none;
  font-size: 1.25rem;
  background: white;
  line-height: 3.5rem;
  /* height width centereds */
  height: 3.5rem;
  width: 3.75rem;
  border-radius: 50%;
  /* circle  */
  text-align: center;
}

.work:hover img {
  transform: scale(1.5);
}

.work:hover .layer {
  height: 100%;
}

.btn {
  /* background-color: white; */
  display: block;
  /* same line nothing will come  */
  margin: 3rem auto;
  /* centered using margin  */
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #fff;
  transition: background-color 0.5s;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #ff004f;
}

/* ------------contact-------------- */

.contact-left {
  /* background-color: green; */
  flex-basis: 35%;
}

.contact-left p {
  margin-top: 1.75rem;
}

.contact-left p i {
  color: #ff004f;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.social_icons {
  margin-top: 2rem;
}

.social_icons a {
  text-decoration: none;
  font-size: 1.75rem;
  margin-right: 1rem;
  color: #ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social_icons a:hover {
  color: #ff004f;
  transform: translateY(-5px);
}

.btn.btn_more {
  display: inline-block;
  /* move on the start same line nothing else*/
  background-color: #ff004f;
}
.contact-right {
  /* background-color: blue; */
  flex-basis: 60%;
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 1rem;
  margin: 1rem 0;
  color: #fff;
  font-size: 1rem;
  border-radius: 0.5rem;
}

form input:focus,
form textarea:focus {
  border: 1px solid #ff004f;
  box-shadow: 0 0 0 2px #ff004f;
}

form .btn.btn_more {
  padding: 1rem 4rem;
  margin-top: 1rem;
}

/* --------copyright-------  */

.copyright {
  width: 100%;
  text-align: center;
  padding: 1.5rem;
  background-color: #262626;
  font-weight: 300;
  margin-top: 1rem;
}

.copyright i {
  color: #ff004f;
}
